html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(238,174,202);
    background: linear-gradient(45deg, rgba(238,174,202,1) 0%, rgba(105,170,246,1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
/* #f4d35e - yellow*/
/* #2e4057 - background color*/

body {
    box-sizing: border-box;
}
.container {
    margin: 50px auto;
    width: 414px;
    height: 736px;
    background: #2e4057;
    /* border: 1px solid #b8b7b7; */
    -webkit-box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
    -moz-box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
    box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
    border-top: 1px solid transparent;
    color: rgb(233, 233, 233);
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 10px;
    line-height: 0;
    color: rgb(233, 233, 233);
}
.top-bar h5 {
    margin: 0;
}
.top-bar i {
    margin-left: 4px;
}
.top-bar span {
    font-size: 15px;
}
.battery {
    display: flex;
    align-items: center;
}
.settings-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 45px;
    border-bottom: 1px solid rgb(233, 233, 233);
}
ul {
    list-style: none;
    padding: 0;
    margin: 30px 40px;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.yellow {
    color: #f4d35e;
}
/*the switch = the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 21px;
}
/* hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4d35e;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
